@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgba(0,0,0,1);
}

.my-shadow{
  -webkit-box-shadow: inset 10px -138px 76px -54px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px -138px 76px -54px rgba(0,0,0,0.75);
  box-shadow: inset 10px -138px 76px -54px rgba(0,0,0,0.75);
}

.glass{
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
}

.bg-avatar{
  background: rgb(244,197,92);
background: -moz-linear-gradient(90deg, rgba(244,197,92,1) 0%, rgba(0,0,0,1) 71%);
background: -webkit-linear-gradient(90deg, rgba(244,197,92,1) 0%, rgba(0,0,0,1) 71%);
background: linear-gradient(90deg, rgba(244,197,92,1) 0%, rgba(0,0,0,1) 71%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4c55c",endColorstr="#000000",GradientType=1);
}

.bg-sha-1{
  -webkit-box-shadow: inset 0px 1px 39px 36px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 1px 39px 36px rgba(0,0,0,0.75);
  box-shadow: inset 0px 1px 39px 36px rgba(0,0,0,0.75);
}

.bg-sha-out-1{
  -webkit-box-shadow: 0px 1px 39px 36px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 39px 36px rgba(0,0,0,0.75);
box-shadow: 0px 1px 39px 36px rgba(0,0,0,0.75);
}